:root {
  --font: "Rubik", sans-serif;
  --font-mono: monospace;

  --font-size: 16px;
  --font-size-sm: 13px;
  --ratio: 1.333;
  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--h4) * var(--ratio));
  --h2: calc(var(--h3) * var(--ratio));
  --h1: calc(var(--h2) * var(--ratio));

  --scale-body: 88ch;
  --spacer-xs: 2ch;
  --spacer-s: 3ch;
  --spacer-m: 6ch;
  --spacer-l: 9ch;

  --color-bg-alt: #fff;
  --color-bg: #eee;
  --color-text: #000;
  --color-dim: #666;
  --color-dark: #333;
  --color-link: #005fd7;
}

/* 
 * basics ----------------------------------------------------------------------
 * */

a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-link);
}

figure {
  margin-left: 0;
  margin-right: 0;
}
figcaption {
  color: var(--color-dim);
}

small {
  font-size: var(--font-size-sm);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

em {
  font-style: italic;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

strong {
  font-weight: bold;
}

pre {
  white-space: pre-wrap;
  overflow-x: auto;
  line-height: 1.25;
  border-left: 2px solid var(--color-dim);
  padding-left: var(--spacer-xs);
}

hr {
  border: none;
  height: 1px;
  margin: var(--spacer-s) var(--spacer-l);
  background-color: currentColor;
}

table {
  width: 100%;
  border: 1px solid var(--color-dim);
  border-left-width: 0;
  border-right-width: 0;
  padding: var(--spacer-xs) 0;
  margin: var(--spacer-xs) 0;
}
thead {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

/* 
 * text ------------------------------------------------------------------------
 * */

html {
  font-family: var(--font);
}
body {
  font-size: var(--font-size);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern";
  font-kerning: normal;
}

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
  hyphens: auto;
}

p {
  font-size: var(--font-size);
  margin: 1em 0;
}

h4 {
  font-size: var(--h4);
}

h3 {
  font-size: var(--h3);
}

h2 {
  font-size: var(--h2);
}

h1 {
  font-size: var(--h1);
}
h1,
h2,
h3,
h4 {
  letter-spacing: -0.04em;
  line-height: 1.25;
  margin: 1em 0 0.5em;
}

/* 
 * layout ----------------------------------------------------------------------
 * */

html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  padding: var(--spacer-s);
  margin: 0 auto;
  max-width: var(--scale-body);
}

body > header,
body > nav,
article header {
  margin-bottom: var(--spacer-l);
}

main {
  margin: 0 auto;
  max-width: var(--scale-body);
}
main.home {
  display: contents;
}

ul ul {
  margin-left: var(--spacer-s);
}

/* colors */

html,
body {
  background-color: var(--color-bg);
}

body {
  background-color: white;
}

/* listing */

.listing {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--spacer-m);
  row-gap: var(--spacer-xs);
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
@media (min-width: 48em) {
  .listing {
    grid-template-columns: 1fr 1fr;
  }
}
.listing-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  line-height: 1.25;
}
.listing-item-title {
  margin: 0;
  font-size: inherit;
}
.listing-item-link {
  color: inherit;
  display: block;
  margin: 0 0 0.25em;
  text-decoration: none;
}
.listing-item-date {
  color: var(--color-dim);
}

/* page header */

h1 {
  margin: 0;
}

article header :is(p) {
  margin: 0;
}

.page-meta {
  color: var(--color-dim);
}

.page-tags {
  display: inline;
  margin: 0;
  list-style: none;
  color: var(--color-dim);
}
.page-tags li {
  display: inline;
}
.page-tags li a {
  color: inherit;
}
.page-tags li:not(:last-child)::after {
  content: ",";
}

/* quick-intro */

.quick-intro :is(h1) {
  margin-top: 0;
  margin-bottom: var(--spacer-xs);
  font-size: inherit;
}

/* templates */

.home :is(h3, p) {
  font-size: inherit;
  margin: 0;
}

.home .listings {
  display: grid;
  grid-gap: var(--spacer-m);
}
@media (min-width: 48em) {
  .home .listings {
    grid-template-columns: 1fr 1fr;
  }
}

.home .listings .listing {
  grid-template-columns: 1fr;
}

.home h2 {
  text-transform: uppercase;
  font-size: inherit;
  margin: 0 0 var(--spacer-xs);
  color: var(--color-dim);
}
