---
layout: home
eleventyNavigation:
  key: Home
  order: 1
templateClass: home
---

<div class="listings">
	<div>
		<h2>Projects</h2>
		{% set list = collections.projects | head(-6) %}
		{% include "listing.njk" %}
	</div>

	<div>
		<h2>Work</h2>
		{% set list = collections.work | head(-6) %}
		{% include "listing.njk" %}
	</div>

	<div>
		<h2>Notes</h2>
		{% set list = collections.notes | head(-6) %}
		{% set length = collections.notes | length %}
		{% include "listing.njk" %}
		<br />
		<a href="/tags/note">See all {{length}} notes &rarr;</a>
	</div>

	<div>
		<h2>Dlog</h2>
		{% set list = collections.dlog | head(-6) %}
		{% set length = collections.notes | length %}
		{% include "listing.njk" %}
		<br />
		<a href="/tags/dlog">See all {{length}} dlog entries &rarr;</a>
	</div>
</div>
