{% extends "_includes/layouts/base.njk" %}

{% block header %}
<h1 class="text-base my-0">Gadzhi Kharkharov</h1>
Software designer. Based in Moscow, Russia.<br />
<a href="/about">More about me</a>.
{% endblock %}

{% block content %}
<div class="grid grid-cols-1 gap-x-8 gap-y-12">
	<div>
		<h2 class="mt-0 mb-4 pb-2 border-b text-gray-500 text-base font-normal">Work</h2>
		{% set list = collections.work | head(-6) %}
		{% include "listing.njk" %}
	</div>
	<div>
		<h2 class="mt-0 mb-4 pb-2 border-b text-gray-500 text-base font-normal">Projects</h2>
		{% set list = collections.projects | head(-6) %}
		{% set length = collections.projects | length %}
		{% include "listing.njk" %}
		<a class="block mt-4 text-sm" href="/tags/projects">All {{length}} projects &rarr;</a>
	</div>
	<div>
		<h2 class="mt-0 mb-4 pb-2 border-b text-gray-500 text-base font-normal">Notes</h2>
		{% set list = collections.notes | head(-6) %}
		{% set length = collections.notes | length %}
		{% include "listing.njk" %}
		<a class="block mt-4 text-sm" href="/tags/note">All {{length}} notes &rarr;</a>
	</div>
	<div>
		<h2 class="mt-0 mb-4 pb-2 border-b text-gray-500 text-base font-normal">Dlog</h2>
		{% set list = collections.dlog | head(-6) %}
		{% set length = collections.notes | length %}
		{% include "listing.njk" %}
		<a class="block mt-4 text-sm" href="/tags/dlog">All {{length}} dlog entries &rarr;</a>
	</div>
</div>
{% endblock %}
