---
permalink: /tags/
layout: page
title: Tags
---

<ul>
{% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    {% set length = collections[tag] | length %}
    <li>
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
        <small>({{length}})</small>
    </li>
{% endfor %}
</ul>
