---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - tagList
  addAllPagesToCollections: true
layout: page
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

{% set list = collections[ tag ] %}
{% include "listing.njk" %}
