---
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const TRAILING_DOT_REGEX = /\.$/;

const notes = await getCollection("notes").then((notes) =>
  notes
    .sort(
      (a, b) =>
        (a.data?.date?.getTime() ?? 0) - (b.data?.date?.getTime() ?? 0)
    )
    .reverse()
);
---

<PageLayout title="Notes" description="Random notes.">
  <ul class="col-content list-none space-y-2.5">
    {
      notes.map(({ id, data }) => (
        <li>
          <a href={`/notes/${id}`}>{data.title || id}</a>
          {data.description && (
            <>
              <span class="text-secondary">
                {data.description.replace(TRAILING_DOT_REGEX, "")}
              </span>
            </>
          )}
          {data.date && (
            <span class="text-secondary">
              {`(${new Date(data.date).toLocaleDateString("en-US", {
                month: "numeric",
                year: "2-digit",
              })})`}
            </span>
          )}
        </li>
      ))
    }
  </ul>
</PageLayout>
