<ul class="list-none space-y-4 sm:space-y-2 m-0">
{% for item in list | reverse %}
    {% if item.url != page.url %}
    <li class="sm:flex items-baseline gap-2">
		<a class="no-underline flex-shrink-0 block" href="{{ item.url | url }}">
			<h4 class="overflow-hidden overflow-ellipsis my-0">
			{% if item.data.title %}{{ item.data.title }}
			{% elseif item.url %}{{ item.url }}
			{% else %}{{ item }}
			{% endif %}
			</h4>
		</a>
		<div class="hidden sm:block flex-1 border-b border-gray-700 self-center"></div>

		{% if item.data.description %}
		<span class="italic sm:text-right block sm:overflow-ellipsis sm:overflow-hidden sm:whitespace-nowrap text-gray-400">
			{{ item.data.description }}
		</span>
		{% endif %}

		{% if item.date %}
		<div class="hidden sm:block flex-shrink-0 font-mono font-bold text-gray-500">
			<time datetime="{{ item.date | htmlDateString }}">{{ item.date | readableDate }}</time>
        </div>
		{% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>
