<ul class="list-none">
{% for item in list | reverse %}
    {% if item.url != page.url %}
    <li class="py-2">
		<a class="inline-block text-current" href="{{ item.url | url }}">
			<h3 class="text-base my-0">
			{% if item.data.title %}{{ item.data.title }}
			{% elseif item.url %}{{ item.url }}
			{% else %}{{ item }}
			{% endif %}
			</h3>
		</a>
		<div class="text-sm text-gray-500">
			{% if item.data.description %}
			{{ item.data.description }}
			{% endif %}
			{% if item.date %}
			(<time datetime="{{ item.date | htmlDateString }}">{{ item.date | readableDate }}</time>)
			{% endif %}
		</div>
    </li>
    {% endif %}
{% endfor %}
</ul>
