@font-face {
  font-family: "Neue Corp Compact Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("/fonts/PPNeueCorp-CompactRegular.woff2") format("woff2"),
    url("/fonts/PPNeueCorp-CompactRegular.woff") format("woff");
}

@theme {
  --font-sans: "Neue Corp Compact Regular", system-ui, sans-serif;
}

@utility text-soft {
  @apply text-neutral-500;
}

@layer base {
  body {
    @apply bg-white font-sans text-lg/6 text-neutral-700 antialiased dark:bg-neutral-950 dark:text-neutral-400;
    font-synthesis: none;
  }

  /* Typography */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-6 text-balance text-black after:scroll-m-0 after:content-['_—'] empty:hidden dark:text-white;
  }

  p {
    @apply empty:hidden;
  }

  a {
    @apply text-black underline decoration-current/40 decoration-1 underline-offset-2 hover:decoration-current hover:decoration-[1.5px] dark:text-white;

    p {
      @apply m-0 inline;
    }
  }

  :is(.aside) a {
    @apply text-current;
  }

  /* Media */

  figcaption {
    @apply mt-2;

    p {
      @apply m-0;
    }
  }

  img,
  video {
    @apply h-auto w-full;
  }

  /* Lists */

  ol {
    @apply list-decimal;

    ol {
      @apply list-[lower-alpha];

      ol {
        @apply list-[lower-roman];
      }
    }
  }

  ul {
    @apply list-outside marker:content-["•_"];

    &:has(li > details) {
      @apply marker:content-[""];
    }
  }

  ol,
  ul {
    ol,
    ul {
      @apply my-2;
    }

    li {
      @apply my-0 ml-0;
    }
  }

  /* Code */

  code {
    @apply text-[95%];
  }

  pre {
    @apply overflow-auto border border-current/40 p-2 text-[13px]/5;

    code {
      @apply font-mono text-[13px];
    }
  }

  /* Table */

  table {
    @apply my-6 w-full table-auto border-collapse text-left;

    caption {
      @apply mt-2 caption-bottom text-left;
    }

    thead {
      @apply border-b border-current/40;
    }

    tfoot {
      @apply border-t border-current/40;
    }

    tr {
      @apply border-y border-current/40 first:border-t-0 last:border-b-0;
    }

    th {
      @apply align-bottom font-normal;
    }

    td,
    th {
      @apply p-2 first:pl-0 last:pr-0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-2 first:mt-0 last:mb-0;
      }
    }
  }

  hr {
    @apply mt-6 border-t border-current/40;
  }
}
