@import "tailwindcss";

@theme {
  --font-sans: var(--font-pp-nikkei-pacific);
  --color-background: var(--color-white);
  --color-primary: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-neutral-900);
    --color-primary: var(--color-neutral-50);
    --color-secondary: var(--color-neutral-400);
  }
}

@utility grid-breakout {
  @apply grid place-content-start gap-y-6;

  --gap: clamp(calc(var(--spacing) * 4), 4vw, calc(var(--spacing) * 8));
  --margin-left: minmax(0, 0.25fr);
  --margin-right: minmax(0, 1fr);
  --content-min: var(--container-sm);
  --content-max: var(--container-xl);
  --content: minmax(
    min(var(--content-min), 100% - var(--gap) * 2),
    var(--content-max)
  );
  --aside: minmax(var(--container-3xs), var(--container-xs));

  grid-template-columns:
    [ruler-start]
    var(--gap)
    [content-start aside-start breakout-start]
    1fr
    [breakout-end aside-end content-end]
    var(--gap)
    [ruler-end];

  @media screen and (min-width: theme("screens.md")) {
    grid-template-columns:
      [ruler-start]
      var(--margin-left)
      var(--gap)
      [breakout-start content-start] var(--content) [content-end]
      var(--gap)
      [aside-start] var(--aside) [aside-end breakout-end ruler-end]
      var(--gap)
      [margin-start]
      var(--margin-right)
      [margin-end];
  }

  > * {
    grid-column: content;
  }

  :is(h2) {
    @apply mt-12;
  }
  :is(h2 + .aside) {
    @apply md:mt-12;
  }

  > :is(figure, .breakout, pre) {
    @apply my-6;

    &:last-child {
      @apply mb-0;
    }

    &:first-child {
      @apply mt-0;
    }
  }

  > :is(figure, .breakout, pre) + :is(figure, .breakout, pre) {
    @apply mt-0;
  }

  pre,
  .breakout {
    grid-column: breakout;
  }

  .aside {
    @apply col-[aside] m-0;
  }

  hr {
    grid-column: ruler;
  }
}

@layer base {
  body {
    @apply bg-background font-sans text-base text-primary antialiased;
    font-synthesis: none;
  }

  /* Typography */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-6 text-balance uppercase after:scroll-m-0 after:text-secondary after:content-['_—_'] empty:hidden;
  }

  p {
    @apply empty:hidden;
  }

  a {
    @apply underline decoration-secondary decoration-1 underline-offset-2 hover:decoration-current hover:decoration-[1.5px];

    p {
      @apply m-0 inline;
    }
  }

  .aside {
    @apply text-secondary;

    a {
      @apply text-current;
    }
  }

  /* Media */

  figcaption {
    @apply mt-2 text-secondary;

    p {
      @apply m-0;
    }
  }

  img,
  video {
    @apply h-auto w-full;
  }

  /* Lists */

  ol {
    @apply list-decimal;

    ol {
      @apply list-[lower-alpha];

      ol {
        @apply list-[lower-roman];
      }
    }
  }

  ul {
    @apply list-outside marker:content-["•_"];

    &:has(li > details) {
      @apply marker:content-[""];
    }
  }

  ol,
  ul {
    ol,
    ul {
      @apply my-2;
    }

    li {
      @apply my-0 ml-0;
    }
  }

  /* Code */

  code {
    @apply text-[95%];
  }

  pre {
    @apply overflow-auto border border-secondary/40 p-2 text-[13px]/5;

    code {
      @apply font-mono text-[13px];
    }
  }

  /* Table */

  table {
    @apply my-6 w-full table-auto border-collapse text-left;

    caption {
      @apply mt-2 caption-bottom text-left;
    }

    thead {
      @apply border-b border-secondary/40;
    }

    tfoot {
      @apply border-t border-secondary/40;
    }

    tr {
      @apply border-y border-secondary/40 first:border-t-0 last:border-b-0;
    }

    th {
      @apply align-bottom font-normal;
    }

    td,
    th {
      @apply p-2 first:pl-0 last:pr-0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-2 first:mt-0 last:mb-0;
      }
    }
  }

  hr {
    @apply mt-6 border-t border-secondary/40;
  }
}
