@import "tailwindcss";

@theme {
  --font-mono: var(--font-fragment-mono);
  --color-background: var(--color-white);
  --color-panel: var(--color-neutral-100);
  --color-primary: var(--color-black);
  --color-secondary: var(--color-neutral-600);
  --color-line: var(--color-neutral-200);
  --color-line-hover: var(--color-neutral-400);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-neutral-900);
    --color-panel: var(--color-neutral-950);
    --color-primary: var(--color-white);
    --color-secondary: var(--color-neutral-400);
    --color-line: var(--color-neutral-700);
    --color-line-hover: var(--color-neutral-500);
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
  }
}

@utility small-caps {
  font-variant: small-caps;
}

@utility grid-cols-main {
  grid-template-columns:
    [margin-start head-start content-start breakout-start bleed-start aside-start]
    minmax(0, 1fr)
    minmax(0, 1fr)
    [aside-end bleed-end breakout-end content-end head-end margin-end];

  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  @media screen and (min-width: theme("screens.md")) {
    grid-template-columns:
      [margin-start head-start content-start breakout-start bleed-start]
      minmax(0, 1fr)
      minmax(0, 1fr)
      minmax(0, 1fr)
      minmax(0, 1fr)
      [content-end aside-start]
      minmax(0, 1fr)
      minmax(0, 1fr)
      [aside-end bleed-end breakout-end head-end margin-end];
  }

  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  @media screen and (min-width: theme("screens.lg")) {
    grid-template-columns:
      [margin-start head-start]
      minmax(0, 1fr)
      [head-end content-start breakout-start bleed-start]
      minmax(0, 1fr)
      minmax(0, 1fr)
      minmax(0, 1fr)
      minmax(0, 1fr)
      [content-end aside-start]
      minmax(0, 1fr)
      minmax(0, 1fr)
      [aside-end breakout-end margin-end bleed-end];
  }

  /* biome-ignore lint/correctness/noUnknownFunction: <explanation> */
  @media screen and (min-width: theme("screens.xl")) {
    grid-template-columns:
      [margin-start head-start]
      minmax(0, 1fr)
      [head-end content-start breakout-start bleed-start]
      minmax(0, 1fr)
      minmax(0, 1fr)
      minmax(0, 1fr)
      [content-end aside-start]
      minmax(0, 1fr)
      minmax(0, 1fr)
      [aside-end breakout-end]
      minmax(0, 1fr)
      [margin-end bleed-end];
  }
}

@layer base {
  html {
    @apply bg-panel;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-[13px] leading-5 text-primary;
    font-synthesis: none;
  }
  main {
    @apply bg-background;
  }

  main,
  footer {
    @apply grid grid-cols-main gap-5 p-5;
  }

  main {
    > * {
      @apply col-[content];
    }

    > :is(h1, h2) {
      @apply col-[head] place-self-start;
    }

    > :is(.aside, aside) {
      @apply col-[aside] list-none text-secondary;

      ul {
        @apply list-none;
      }
    }

    > :is(.breakout) {
      @apply col-[breakout] lg:my-5;
    }

    > :is(.bleed) {
      @apply col-[bleed] lg:my-5;
    }

    > :is(.breakout, .bleed) + :is(.breakout, .bleed) {
      @apply mt-0;
    }
  }

  /* Typography */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-m-5 text-balance empty:hidden;
  }

  h1,
  h2 {
    @apply uppercase;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply small-caps;
  }

  p {
    @apply empty:hidden;
  }

  a {
    @apply underline decoration-line-hover underline-offset-2 hover:text-primary hover:decoration-current hover:decoration-solid;

    p {
      @apply m-0 inline;
    }
  }

  aside {
    @apply list-none text-secondary;
  }

  /* Media */

  figcaption {
    @apply mt-2.5 text-secondary;

    p {
      @apply m-0;
    }
  }

  img,
  video {
    @apply h-auto w-full;
  }

  /* Lists */

  ol {
    @apply list-decimal;

    ol {
      @apply list-[lower-alpha];

      ol {
        @apply list-[lower-roman];
      }
    }
  }

  ul {
    @apply list-disc;
  }

  ol,
  ul {
    ol,
    ul {
      @apply my-2.5;
    }

    li {
      @apply my-0 ml-0;
    }
  }

  /* Code */

  code {
    @apply font-mono;
  }

  pre {
    @apply overflow-auto bg-panel! p-2.5;

    code {
      @apply bg-transparent p-0 text-secondary;
    }
  }

  /* Table */

  table {
    @apply my-6 w-full table-auto border-collapse text-left;

    caption {
      @apply mt-2 caption-bottom text-left;
    }

    thead {
      @apply border-b border-line-hover;
    }

    tfoot {
      @apply border-t border-line;
    }

    tr {
      @apply border-y border-line first:border-t-0 last:border-b-0;
    }

    th {
      @apply align-bottom text-secondary;
    }

    td,
    th {
      @apply p-2 first:pl-0 last:pr-0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-2 first:mt-0 last:mb-0;
      }
    }
  }

  hr {
    @apply col-span-full -mx-5 border-t border-line;
  }
}
