@import url("./fonts.css");
@import url("./prism.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* text */
  html {
    @apply min-h-screen bg-gray-100 dark:bg-gray-900;
  }
  body {
    @apply font-mono text-base
    relative min-h-screen flex flex-col text-sm
    text-gray-800 dark:text-gray-300;
  }
  h1 {
    font-feature-settings: "ss02";
    @apply font-sans text-5xl my-12;
  }
  h2 {
    font-feature-settings: "ss02";
    @apply font-sans text-3xl mt-8 mb-6;
  }
  h3 {
    font-feature-settings: "ss02";
    @apply font-sans text-2xl mt-8 mb-4;
  }
  h4 {
    @apply font-mono text-sm font-bold uppercase my-4 mb-0;
  }
  h4 + ul {
    @apply mt-0;
  }
  p {
    @apply mb-4;
  }

  /* links */
  a {
    @apply text-accent-700
    hover:text-accent-600
    dark:text-accent-300
    dark:hover:text-accent-200;
  }

  main {
    @apply lg:grid grid-flow-col-dense grid-cols-main
    gap-x-4 flex-1 px-4 py-12 sm:px-6 lg:py-16;
  }

  /* content spacing */
  figure,
  video,
  table {
    @apply my-8;
  }
  ul,
  ol,
  pre {
    @apply my-4;
  }
  hr {
    @apply my-8
    border-t-2
    border-b-0
    border-gray-400
    border-dotted
    dark:border-gray-700;
  }

  /* article media */
  article img,
  article video {
    @apply shadow-md rounded;
  }

  /* list */
  ul {
    @apply list-disc list-inside sm:list-outside;
  }
  ul ul {
    @apply my-0 ml-4;
  }

  /* table */
  thead {
    @apply text-left text-sm text-gray-500 dark:text-gray-400 uppercase border-b
    border-gray-300
    dark:border-gray-700;
  }
  tr {
    @apply py-4
    border-gray-200
    dark:border-gray-800;
  }
  td,
  th {
    @apply py-1;
  }
  tbody {
    @apply divide-y;
  }
  table {
    @apply table-auto w-full;
  }

  /* blockquote */
  blockquote {
    @apply italic px-8;
  }

  /* code */
  pre {
    @apply px-4 py-3
    lg:-mx-4
    overflow-x-auto
    shadow-sm
    text-sm
    whitespace-pre
    leading-snug
    rounded
    bg-white
    shadow-sm
    dark:bg-gray-800;
  }
  code {
    @apply rounded px-1
    text-gray-900 bg-gray-200
    dark:text-gray-300 dark:bg-gray-800;
  }
  pre code {
    @apply bg-transparent p-0;
  }
}
