---
import PostLayout from "../layouts/PostLayout.astro";

const title = "404";
const description = "Looks like nothing lives here";
---

<PostLayout content={{ title, description }}>
  <p>
    You might want to go <a href="/">home</a>.
  </p>
</PostLayout>
