---
import PageLayout from "@/layouts/PageLayout.astro";

import { getCollection } from "astro:content";

const work = await getCollection("work").then((work) =>
  work.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
);

const projects = await getCollection("projects").then((projects) =>
  projects.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  )
);
---

<PageLayout title="Gadzhi Kharkharov" dateUpdated="2025-01-23">
  <p>
    Software designer. I work on dev/design tools and think about systems.<br
    />In my free time, I enjoy working on small personal projects, learning new
    things, cycling, hiking, and playing challenging video games (particularly
    those by From Software).
  </p>

  <h2>Work</h2>

  <ul class="[&>li+li]:mt-4">
    <li>
      <a href="/work/retool">Retool</a>: design engineer.
      <span class="text-soft">2021–now</span>
      <p>
        {work.find((item) => item.id === "retool")?.data?.longDescription}
      </p>
    </li>

    <li>
      <a href="/work/webflow">Webflow</a>: product designer.
      <span class="text-soft">2014–2021</span>
      <p>
        {work.find((item) => item.id === "webflow")?.data?.longDescription}
      </p>
    </li>

    <li>
      <a href="/work/stampsy">Stampsy</a>: designer/engineer.
      <span class="text-soft">2012–2014</span>
      <p>
        {work.find((item) => item.id === "stampsy")?.data?.longDescription}
      </p>
    </li>
  </ul>

  <h2>Other stuff</h2>

  <ul class="[&>li+li]:mt-2">
    {
      projects.map(({ id, data }) => (
        <li>
          <a href={`/projects/${id}`}>{data.title}</a>: {data.description}
          <span class="text-soft">
            {new Date(data.date).toLocaleDateString("en-US", {
              month: "numeric",
              year: "2-digit",
            })}
          </span>
        </li>
      ))
    }
  </ul>

  <h2>Contact</h2>
  <p>
    Available at <a href="mailto:me@kkga.me">me@kkga.me</a>,
    <a href="https://twitter.com/kkga" target="_blank">X</a> or
    <a href="https://bsky.app/profile/kkga.me" target="_blank">Bluesky</a>.
  </p>
</PageLayout>
