---
import BaseLayout from "../layouts/BaseLayout.astro";
import Listing from "../components/Listing.jsx";

let work = await Astro.fetchContent("./work/*.md");
work = work.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
);

let projects = await Astro.fetchContent("./projects/*.md");
projects = projects.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
);

let notes = await Astro.fetchContent("./notes/*.md");
notes = notes.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
);

let dlogNotes = await Astro.fetchContent("./dlog/*.md");
dlogNotes = dlogNotes.sort(
  (a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()
);
---

<BaseLayout>
  <div slot="header">
    <h1 class="font-mono text-sm font-bold uppercase my-0">
      Gadzhi Kharkharov
    </h1>
    Software designer. Based in Moscow, Russia.<br />
    <a href="/about">More about me</a>.
  </div>

  <Listing title="Work" items={work} />
  <Listing title="Projects" items={projects} />
  <Listing title="Notes" items={notes} />
  <Listing title="Dlog" items={dlogNotes} />
</BaseLayout>
