@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-Regular.otf');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-RegularOblique.otf');
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-Bold.otf');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-BoldOblique.otf');
    font-style: italic;
    font-weight: 700;
  }

  @font-face {
    font-family: 'MD IO';
    src: url('MDIO0.3-Regular.woff2') format('woff2'),
      url('MDIO0.3-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'MD IO';
    src: url('MDIO0.3-Italic.woff2') format('woff2'),
      url('MDIO0.3-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'MD IO';
    src: url('MDIO0.3-Bold.woff2') format('woff2'),
      url('MDIO0.3-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  body {
    @apply font-mono text-sm font-normal bg-white;
  }
  h1 {
    @apply font-sans text-6xl mb-4;
  }
  h2 {
    @apply font-sans text-4xl my-6;
  }
  h3 {
    @apply font-sans text-2xl my-6;
  }
  h4 {
    @apply font-mono text-sm font-bold uppercase my-3;
  }
  h4 + ul {
    @apply mt-0;
  }
  p {
    @apply mb-4;
  }

  figure,
  video,
  table,
  pre,
  article > .grid {
    @apply my-8;
  }
  article > .grid > figure {
    @apply m-0;
  }
  ul,
  ol {
    @apply my-2;
  }
  figure video,
  figure img {
    @apply m-0;
  }
  ul {
    @apply list-square list-inside;
  }
  ul ul {
    @apply my-0 ml-4;
  }
  thead {
    @apply text-left text-sm;
  }
  tbody {
    @apply divide-y;
  }
  table {
    @apply table-auto w-full;
  }
  pre {
    @apply overflow-x-auto whitespace-pre text-sm leading-tight bg-gray-50 border border-gray-100 p-2 md:p-3;
  }
  code {
    @apply bg-gray-200;
  }
  pre code {
    @apply bg-transparent;
  }
  a {
    @apply hover:text-red-500 underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 8%;
  }
  figcaption {
    @apply italic mt-2 text-sm text-gray-500;
  }
  hr {
    @apply my-8;
  }
  small {
    @apply text-sm text-gray-500;
  }

  .toc {
    @apply sm:max-w-xs	px-3 py-2 bg-gray-50 m-0 text-sm text-gray-500;
  }

  .toc ol {
    @apply no-underline font-bold m-0;
  }

  .toc::before {
    content: 'Contents';
    @apply block border-b mb-1 pb-1;
  }
}
