@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter var";
    font-weight: 100 700;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("/Inter-roman.var.woff2?v=3.19") format("woff2");
  }
  @font-face {
    font-family: "Inter var";
    font-weight: 100 700;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("/Inter-italic.var.woff2?v=3.19") format("woff2");
  }
  html,
  body {
    @apply bg-white font-normal;
    font-family: "Inter var", sans-serif;
  }
  h1 {
    @apply font-bold text-4xl tracking-tight mb-4;
  }
  h2 {
    @apply font-bold text-3xl tracking-tight mt-8 mb-4;
  }
  h3 {
    @apply font-bold text-xl tracking-tight mt-8 mb-4;
  }
  h4 {
    @apply font-bold text-base mt-4 mb-0;
  }
  h4 + ul {
    @apply mt-0;
  }
  p {
    @apply mb-4;
  }
  figure,
  video,
  table,
  pre {
    @apply my-4;
  }
  ul,
  ol {
    @apply my-2;
  }
  figure video,
  figure img {
    @apply m-0;
  }
  ul {
    @apply list-disc list-inside;
  }
  ul ul {
    @apply my-0 ml-4;
  }
  thead {
    @apply text-left text-sm;
  }
  tbody {
    @apply divide-y;
  }
  table {
    @apply table-auto w-full;
  }
  pre {
    @apply overflow-x-auto whitespace-pre leading-tight bg-gray-50 border border-gray-100 p-3;
  }
  a {
    @apply text-green-700 hover:underline;
  }
  figcaption {
    @apply mt-1 text-base text-gray-500;
  }
  hr {
    @apply my-8;
  }
  small {
    @apply text-sm text-gray-500;
  }
}
