@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-Regular.otf');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-RegularOblique.otf');
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-Bold.otf');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-BoldOblique.otf');
    font-style: italic;
    font-weight: 700;
  }

  @font-face {
    font-family: 'MD IO';
    src: url('MDIO0.3-Regular.woff2') format('woff2'),
      url('MDIO0.3-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'MD IO';
    src: url('MDIO0.3-Italic.woff2') format('woff2'),
      url('MDIO0.3-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'MD IO';
    src: url('MDIO0.3-Bold.woff2') format('woff2'),
      url('MDIO0.3-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  /* text */
  body {
    @apply font-mono text-sm text-gray-200 bg-gray-900;
  }
  h1 {
    @apply font-sans text-6xl mt-8 mb-4;
  }
  h2 {
    @apply font-sans text-3xl mt-8 mb-4;
  }
  h3 {
    @apply font-sans text-2xl mt-8 mb-4;
  }
  h4 {
    @apply font-mono text-sm font-bold uppercase mt-8 mb-2;
  }
  h4 + ul {
    @apply mt-0;
  }
  p {
    @apply mb-4;
  }

  /* links */
  a {
    @apply text-amber-500 hover:underline;
  }

  /* content spacing */
  figure,
  video,
  table,
  pre,
  article > .grid {
    @apply my-8;
  }
  article > .grid > figure {
    @apply m-0;
  }
  ul,
  ol {
    @apply my-2;
  }
  figure video,
  figure img {
    @apply m-0;
  }

  /* list */
  ul {
    @apply list-square list-inside;
  }
  ul ul {
    @apply my-0 ml-4;
  }

  /* table */
  thead {
    @apply text-left text-sm uppercase border-b border-gray-700;
  }
  tr {
    @apply py-4 border-gray-800;
  }
  td,
  th {
    @apply py-1;
  }
  tbody {
    @apply divide-y;
  }
  table {
    @apply table-auto w-full;
  }

  /* code */
  pre {
    @apply rounded overflow-x-auto whitespace-pre text-sm leading-tight bg-gray-800 p-2 md:p-3;
  }
  code {
    @apply text-gray-50 rounded px-2 bg-gray-800;
  }
  pre code {
    @apply bg-transparent p-0;
  }

  figcaption {
    @apply italic mt-2 text-sm text-gray-400;
  }
  hr {
    @apply my-8 border-gray-800;
  }
}
