---
const { dateUpdated } = Astro.props;
const { pathname } = Astro.url;
const isHome = pathname === "/";
---

<footer
  class="mt-auto grid grid-cols-main content-start gap-5 bg-background pb-5 text-secondary"
>
  <hr />
  <div class="contents">
    {
      !isHome && (
        <div class="col-[head]">
          <a class="no-underline" href="/">
            &larr;Home
          </a>
        </div>
      )
    }

    {
      dateUpdated && (
        <span class="col-[aside]">
          Updated:{" "}
          <time datetime={dateUpdated}>
            {new Date(dateUpdated).toLocaleDateString("en-US", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </time>
        </span>
      )
    }
  </div>
</footer>
