---
const { dateUpdated } = Astro.props;
const { pathname } = Astro.url;
const isHome = pathname === "/";
---

<footer class="mt-auto border-t border-line text-secondary">
  <div class="contents">
    {
      !isHome && (
        <div class="col-start-1">
          <a class="no-underline" href="/">
            &larr;Home
          </a>
        </div>
      )
    }

    {
      dateUpdated && (
        <span class="col-[aside]">
          Updated:{" "}
          <time datetime={dateUpdated}>
            {new Date(dateUpdated).toLocaleDateString("en-US", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </time>
        </span>
      )
    }
  </div>
</footer>
