---
export interface Props {
  title: string;
}

const { title = "title" } = Astro.props;
---

<button
  slot="tab"
  class="mr-4 inline-block h-8 border-b border-transparent whitespace-nowrap not-aria-selected:hover:border-b-current/40 aria-selected:border-b-current"
>
  {title}
</button>

<div slot="panel" class="mt-6">
  <slot />
</div>
