---
export interface Props {
  title: string;
}

const { title = "title" } = Astro.props;
---

<button
  slot="tab"
  class="mr-[10px] inline-block bg-highlight whitespace-nowrap not-aria-selected:hover:bg-highlight-hover aria-selected:invert"
>
  {title}
</button>

<div slot="panel" class="mt-6">
  <slot />
</div>
