---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth <= 2);
---

<nav
  class="fixed top-5 right-5 z-10 hidden border border-line bg-panel text-secondary"
>
  <ul class="m-0 flex list-none flex-col divide-y divide-line">
    <li>
      <a class="flex h-7.5 items-center px-2.5 no-underline" href="#top">
        &uarr; Top
      </a>
    </li>
    {
      filteredHeadings.map((heading) => (
        <li>
          <a
            class="flex h-7.5 items-center px-2.5 no-underline"
            href={`#${heading.slug}`}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const nav = document.querySelector("nav");
    if (window.scrollY >= 0) {
      if (nav) nav.classList.add("xl:block");
    } else {
      if (nav) nav.classList.remove("xl:block");
    }
  });
</script>
