---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth <= 2);
---

<nav class="sticky top-6 z-10 col-[margin] hidden pr-4 text-secondary">
  <ul class="m-0">
    {
      filteredHeadings.map((heading) => (
        <li class="text-balance">
          <a
            class="text-current no-underline hover:underline"
            href={`#${heading.slug}`}
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const nav = document.querySelector("nav");
    if (window.scrollY > 240) {
      if (nav) nav.classList.add("xl:block");
    } else {
      if (nav) nav.classList.remove("xl:block");
    }
  });
</script>
