<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script async defer data-domain="kkga.me" src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <header>
      {% if page.url === "/" %}
      <div class="quick-intro">
        <h1>Gadzhi Kharkharov</h1>
        <p>
          Software designer. Based in Moscow, Russia.<br />
          <a href="/about">More about me</a>.
        </p>
      </div>
      {% else %}
        <a href="/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
            <rect fill=currentColor width=16 height=16 rx="2">

            </rect>
          </svg>
        </a>
      {% endif %}
    </header>

    {{content | safe}}
    

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
