<!doctype html>
<html lang="en" class="h-full min-h-full">
  <head>
    <title>{{ title or metadata.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="shortcut icon" type="image/jpg" href="/img/about/face.jpg"/>
    <link rel="stylesheet" href="/global.css"/>
    <link rel="stylesheet" href="{{ '/prism.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
</head>

  <body class="p-4 max-w-4xl mx-auto min-h-full sm:p-8">
    <header class="mb-24">
    {% block header %}
      <nav>
        <a href="/" style="vertical-align: bottom">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <rect fill=currentColor width=24 height=24 rx="2">
            </rect>
          </svg>
        </a>
      </nav>
    {% endblock %}
    </header>

    <main>
        {% block content %}
          {{content | safe}}
        {% endblock %}
    </main>

    <footer></footer>

  </body>
</html>
