{% extends "_includes/layouts/base.njk" %}

{% block header %}
<nav>
  <a href="/" class="inline-block uppercase font-bold">kkga</a>
  <span class="text-gray-500">/</span>
  <h2 class="inline font-mono font-mono uppercase text-sm m-0">
    {% if title %} {{ title }} {% else %} {{ page.url }} {% endif %}
  </h2>
</nav>
{% endblock %}

{{ content | safe }}
