---
layout: layouts/base.njk
---

<header class="my-16">
	{% if title %}
	<h1>{{ title }}</h1>
	{% endif %}

	<div class="text-gray-500">
		{% if description %}
		{{ description }}<br/>
		{% endif %}
	</div>
</header>

{{ content | safe }}
