---
layout: layouts/base.njk
---

<article>
	<header class="my-16">
		<h1>
		{% if title %}
		{{ title }}
		{% else %}
		{{ page.url }}
		{% endif %}
		</h1>

		<div class="text-gray-500 text-sm">
			{% if description %}
			{{ description }}<br/>
			{% endif %}

			updated <date>{{ page.date | readableDate }}</date>

			{% if tags %}
			&nbsp;&middot;&nbsp;
			<ul class="inline">
			{% for tag in tags %}
			  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
			  <li class="inline"><a href="{{ tagUrl | url }}">#{{ tag }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		</div>

	</header>

	{{ content | safe }}

	<hr/>

    {% for tag in tags  %}
        {% if collections[ tag ] | length > 1 %}
        <div class="text-sm my-8">
    		{% set tagUrl %}/tags/{{ tag }}/{% endset %}
    		<h5 class="mb-4 font-normal text-gray-500 text-sm text-current">More in <a href="{{ tagUrl | url }}">#{{ tag }}</a></h5>
            {% set list = collections[ tag ] %}
            {% include "listing-compact.njk" %}
            {% endif %}
        </div>
    {% endfor %}

</article>
