---
layout: layouts/base.njk
---

<article>
	<header class="mb-12">
		<div class="mb-20 text-gray-500 italic">
			{% if description %}
			{{ description }}<br/>
			{% endif %}

			<date>{{ page.date | readableDate }}{%if dateUp %} (updated {{ dateUp | readableDate }}){% endif %}</date>

			{% if tags %}
			/
			<ul class="inline m-0">
			{% for tag in tags %}
			  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
			  <li class="m-0 inline"><a class="no-underline" href="{{ tagUrl | url }}">#{{ tag }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		</div>

		<h1> {% if title %} {{ title }} {% else %} {{ page.url }} {% endif %} </h1>
	</header>

	{{ content | safe }}

	<hr/>

    {% for tag in tags  %}
        {% if collections[ tag ] | length > 1 %}
        <div class="text-sm my-12">
    		{% set tagUrl %}/tags/{{ tag }}/{% endset %}
    		<h3 class="mt-12 mb-4">
				More in <a class="text-current no-underline" href="{{ tagUrl | url }}">#{{ tag }}</a>
			</h3>
            {% set list = collections[ tag ] %}
            {% include "listing.njk" %}
            {% endif %}
        </div>
    {% endfor %}

</article>
