---
layout: layouts/base.njk
---

<article>
	<header>
		<h1>
		{% if title %}
		{{ title }}
		{% else %}
		{{ page.url }}
		{% endif %}
		</h1>

		<div class="page-meta">
			{% if description %}
			<p class="page-description">
			{{ description }}
			</p>
			{% endif %}

			Updated on: <date class="page-date">{{ page.date | readableDate }}</date>

			{% if tags %}
			&nbsp;&middot;&nbsp;
			<ul class="page-tags">
			{% for tag in tags %}
			  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
			  <li><a href="{{ tagUrl | url }}">#{{ tag }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		</div>

	</header>

	{{ content | safe }}
</article>
