---
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title: string;
  description: string;
  dateUpdated?: string;
}

const { title, dateUpdated, description } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex min-h-screen flex-col [&>main]:my-10">
    <slot />

    <footer class="grid-breakout mt-auto gap-y-[10px] py-10 text-secondary">
      <div class="contents *:not-first:col-[aside]">
        <div class="col-[content]">
          {pathname !== "/" && <a href="/">Back to home</a>}
        </div>

        {
          dateUpdated && (
            <span class="col-[aside]">
              Updated:{" "}
              <time datetime={dateUpdated}>
                {new Date(dateUpdated).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
            </span>
          )
        }
      </div>
    </footer>
  </body>
</html>
