---
import BaseHead from "@/components/BaseHead.astro";

interface Props {
  title: string;
  description: string;
  dateUpdated?: string;
}

const { title, dateUpdated, description } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="flex min-h-screen flex-col [&>main]:my-10">
    <slot />

    <footer class="grid-breakout mt-auto gap-y-[10px] py-10">
      <div class="contents *:not-first:col-[aside]">
        {
          pathname !== "/" ? (
            <a class="col-[content] place-self-start" href="/">
              Back to home
            </a>
          ) : (
            <span class="col-[content] flex gap-[10px] place-self-start">
              <a href="mailto:me@kkga.me">me@kkga.me</a>
              <a href="https://twitter.com/kkga_" target="_blank" rel="me">
                X
              </a>
              <a
                href="https://bsky.app/profile/kkga.me"
                target="_blank"
                rel="me"
              >
                Bluesky
              </a>
            </span>
          )
        }

        {
          dateUpdated && (
            <span class="col-[aside]">
              Updated:{" "}
              <time datetime={dateUpdated}>
                {new Date(dateUpdated).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
            </span>
          )
        }
      </div>
    </footer>
  </body>
</html>
