---
import BaseHead from "../components/BaseHead.astro";
import PageHeader from "../components/PageHeader.jsx";

const { title, description, permalink } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" style="min-height: 100vh">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body class="p-4 max-w-3xl mx-auto sm:p-8" style="min-height: 100vh">
    <slot name="header" />

    <main>
      <slot />
    </main>

    <footer></footer>
  </body>
</html>
