---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.jsx";
import metadata from "../data/metadata.json";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="min-h-screen bg-gray-200 dark:bg-black">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body class="min-h-screen flex flex-col max-w-3xl mx-auto">
    <slot name="header" />

    <main class="flex-1 p-4 sm:p-8 bg-white dark:bg-gray-900">
      <slot />
    </main>

    <Footer>
      <slot name="footer" />
    </Footer>
  </body>
</html>
