---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.jsx";
import Texture from "../components/Texture.jsx";
import metadata from "../data/metadata.json";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body class="relative min-h-screen flex flex-col text-sm">
    <slot name="header" />

    <main
      class="lg:grid grid-flow-col-dense grid-cols-main gap-x-4 flex-1 px-4 py-12 sm:px-6 lg:py-16"
    >
      <slot />
    </main>

    <Footer>
      <slot name="footer" />
    </Footer>
  </body>
</html>
