---
import BaseLayout from "./BaseLayout.astro";

const { title, description, dateUpdated, frontmatter } = Astro.props;
const { pathname } = Astro.url;
---

<BaseLayout
  title={title ?? frontmatter?.title}
  description={description ?? frontmatter?.description}
  dateUpdated={dateUpdated ?? frontmatter?.date}
>
  <main class="grid-breakout">
    <header
      class={`col-[breakout] grid grid-cols-subgrid ${pathname !== "/" ? "mb-15" : ""}`}
    >
      <div>
        {
          pathname !== "/" && (
            <>
              {/* prettier-ignore */}
              <a class="uppercase" href="/">kkga</a>
              <span class="text-secondary">⁄</span>
            </>
          )
        }

        <h1 class="inline">
          {title ?? frontmatter?.title}
        </h1>
      </div>

      {
        pathname !== "/" && (
          <p class="aside">{description ?? frontmatter?.description}</p>
        )
      }
    </header>

    <slot />
  </main>
</BaseLayout>
